<style>
    div.cell{
        max-width:75px;
        margin-left:auto;
        margin-right:auto;
    }

    h1 {
        text-align:center;
        font-familly:"Charis SIL", serif;
	color:white;
    }
    body {
         background-color:black;	
         background-color:#111111;
    	 color:white;
    }
    
</style>
